.choiceWalletModal {
  color: #fff;
}

.walletList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.walletItem {
  list-style: none;
  background-color: #1e1e1e;
  border-radius: 6px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  background: #505050;
  padding: 20px 10px;
  cursor: pointer;
}

.walletInfo {
  font-weight: bold;
  font-size: 1rem;
  line-height: 30px;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.walletIcon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.walletTitle {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 1 calc(100% - 35px);
}

.currentMoney {
  font-size: 1.1rem;
  line-height: 30px;
  color: #20c997;
}
